body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 50px;
}

a {
  display: block;
  width: 300px;
  margin: 20px auto;
  padding: 15px;

  background: #222;

  color: cyan;

  text-decoration: none;

  border-radius: 12px;

  font-size: 24px;
}

a:hover {
  background: #333;
}
